#start, #end {
	height:21px;
	width:150px;	
}
#pay{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 1px 2px 5px #eee inset;
	margin-left: 10px;
}
#head_title {
	font-size:18px; 
	width:100%; 
	border-bottom:1px solid #ccc; 
	clear: both;
}
.search{
	float:right; 
	width: 100%; 
	clear: both;
	margin: 15px 0px;
	text-align: right;
}
.red{
	color: #F00;	
}
.green {
	color:#0F0;	
}
.tb_silver .note, 
.tb_silver .note:hover/*, 
.tb_silver .note td, 
.tb_silver .note td:hover*/{
	background: #CCC;	
}
.bt_blue, .bt-blue {
    height: 31px;
    line-height: 0;
}