.pl-monitor-bs-list .tb-tools {
	width:100%;
	margin:0 0 10px 0;
	padding:0;
}

.pl-monitor-bs-list .tb_list {
	border-collapse:collapse;
	font-size:11px;
}

.pl-monitor-bs-list .tb_list th {
	font-size:12px;
}

.pl-monitor-bs-list .tb-tools select {
	margin-left:15px;
	width:190px;
}
#od_code, #fac_code, #monitor {
	width: 230px;
}
