.pl-monitor-result {
	
}

.pl-monitor-result .tb_list {
	border-collapse:collapse;
}

.pl-monitor-result .tb_list th {
	line-height:28px;
}

.pl-monitor-result .tfn {
	width:57px;
	height:14px;
}

.pl-monitor-result .tb-questionnaire .tf {
	width:100%;
	box-sizing:border-box;
	height:24px;
}


.pl-monitor-result .a-center {
	text-align:center;
}



.pl-monitor-result .tb-questionnaire td {
	line-height:26px;
}

.pl-monitor-result .tb-questionnaire .tab1 {
	padding-left:30px;
}

.pl-monitor-result .tb-questionnaire .tab2 {
	padding-left:60px;
}

.pl-monitor-result .a-left {
	text-align:left !important;
}

.pl-monitor-result .a-right {
	text-align:right !important;
}

.pl-monitor-result .row {
	display:inline-block;
}

.pl-monitor-result .row .label {
	margin-right:5px;
}


/*.pl-monitor-result input[type="radio"] {
	appearance: checkbox;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;     
    -o-appearance: checkbox;      
}*/


.pl-monitor-result .required {
	background:#F7DFDF;
}

.pl-monitor-result .bg-white {
	background:#fff !important;
}

.pl-monitor-result .tb-questionnaire input[type=radio], .pl-monitor-result .tb-questionnaire input[type=checkbox] {
	cursor:pointer;
	margin-right:8px;
}

.pl-monitor-result .tb-questionnaire td label {
	cursor:pointer;
	margin-right:5px;
}


.pl-monitor-result .tb-questionnaire td label:last-child {
	margin-right:0px;
}

.pl-monitor-result .tb-questionnaire .m-right {
	margin-right:50px;
}

.pl-monitor-result .tb-questionnaire .m-left {
	margin-left:60px;
}

.pl-monitor-result .tb-questionnaire .item-left {
	float:left;
}

.pl-monitor-result .tb-questionnaire .item-right {
	float:right;
	margin-right:10px;
}

.pl-monitor-result .tb-questionnaire .b11-left, .pl-monitor-result .tb-questionnaire .b11-right {
	display:inline-block;
}

.pl-monitor-result .tb-questionnaire .b11-left {
	width:580px;
}

.pl-monitor-result .tb-questionnaire .b11-right {
	width:170px;
}

.pl-monitor-result .off {
	color:#ccc;
}

.pl-monitor-result .tb_head {
	margin-bottom:20px;
}

.pl-monitor-result .tb_head td {
	line-height:30px;
	padding:4px 10px;
}

.pl-monitor-result .tb_head td input {
	box-sizing:border-box;
}

.padding-5{
	padding:5px !important;
}
.padding-left-30{
	padding-left:30px;
}
.line-bottom-1{
	border-bottom:1px solid #DDDDDD;
}
/*START CSS*/
.hidden {
  display: none !important;
}
.no-padding-left-right{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
/*END CSS*/
.width-150{
	width:150px;
}