.hhn {
	width:24px;
	padding:5px;
	line-height:30px;
	text-align:center;
}
.top {
	margin-top:20px;
}
.num {
	width:36px;
	display:inline-block;
}
.label {
	width:76px;
	display:inline-block;
}
.hhl {
	width:64px;
	text-align:center;
}
.tb_list span {
	padding:0 10px;
}
#screenshot {
	position:absolute;
	padding:5px;
	border:1px solid #ccc;
	background:#3D3A3A;
	-moz-box-shadow: 0px 0px 5px 0px #aaa;
	-webkit-box-shadow: 0px 0px 5px 0px #aaa;
	box-shadow: 0px 0px 5px 0px #aaa;
	color:#fff;
}
.preview {
	width:150px;
}

.toggle {
	display:inline-block;
	margin-right:3px;
	width:20px;
	cursor:pointer;
}