.w-info {
	border:1px solid #ccc;
}

.w-left {
	width:250px;
	float:left;
}

.w-benefits {
	margin-left:280px;
}

.w-err {
	text-align:center;
	font-size:14px;
	margin-top:100px;
}

.w-err p {
	margin:0px;
}

.w-photo {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.w-vid, .w-pid {
	padding:10px 0;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.w-pid { 
	background:#f6f6f6; 
	border-bottom:1px solid #ccc;
}

.info {
	margin: 10px 15px;
}

.w-benefits {
	min-height:620px;
}

.w-benefits .tf {
	box-sizing:border-box;
	height:34px;
}
.w-benefits .tf, .w-benefits .dd {
	width:100% !important;
}

.tb-benefit td, .tb-history td {
	padding:3px 5px;
}

.a-right {
	text-align:right;
}

.w-buttons {
	margin-top:20px;
}
.tb-history {
	width:80%;
}

.add-ico, .remove-ico {
	width:100%;
	cursor:pointer;
}

.w-ico {
	float:right;width:30px;margin-top:3px;
}
.w-service {
	margin-right:40px;
}
.services {
	margin-bottom:5px;
}
.services:last-child {
	margin-bttom:0px;
}

.w-delete {
	margin-top:20px;
	text-align:center;
}

.diag_icon {
	vertical-align:top;
	height:32px; 
	cursor:pointer;	
	margin-left:10px;
	display:inline-block;
	float:right;
}

.w_diag {
	margin-bottom:10px;
}

.diag_select {
	width:180px; 
	top:0px; 
	visibility: visible; 
	height: 36px; 
	padding: 7px 7px 7px 0;
	display:inline-block;
}