.loc {
	margin-right:10px;
}
.loc span {
	margin-right:15px;
	font-size:16px;
}

.loc input {
	width:150px;
}

.tb_scroll th {
	height:1px !important;
	line-height:0px !important;
	border-top:none;
	border-bottom:none;
}

.tb_list {
	width:100%;
	font-size:14px;
}

.tb_list th {
	line-height:36px;
}

.tb_scroll div {
	padding:0 10px;
	line-height:34px;
}

.tb_scroll tr {
	cursor: pointer;
}