
.w-external-tool {
    margin-top:30px;
}

.tool {
    border:1px solid #ddd;
    padding:15px;
    margin-bottom:20px;
}

.logo {
    text-align:left;
}

.we-left {
    margin-left:20px;
    display:inline-block;
    vertical-align:top;
    width:70px;
}

.we-right {
    display:inline-block;
    vertical-align:top;
    padding:0 0 0 20px;
    width:775px;
}

.title {
    margin:0 0 10px 0;
    margin-bottom: 18px
}

h1{
	font-size: 30px;
	font-weight:500;
	margin-top: 10px;
}

h2{
	font-size: 20px;	
}